@model IEnumerable<EasyExam.Core.Category>

@{ Layout = "_AdminPannelLayout.cshtml";}

@{
    ViewBag.Title = "用户操作台";
}


@section SideNav{@Html.Partial("SideNavPartialView")}
<div class="col-sm-12">
    <table data-toggle="table" id="category-table">
        <thead>
            <tr>
                <th>栏目ID</th>
                <th>栏目名称</th>
                <th>栏目说明</th>
                <th>操作</th>
                <th>@Html.ActionLink("排序", "CreateExam", "Admin", new { area = "" }, new { @class = "btn btn-success btn-sm" })</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var Category in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => Category.CategoryID)</td>
                    <td>
                        @for (int i = 0; i < Category.Level; i++)
                        {
                            @Html.Raw("| - ")
                        }
                        @Html.DisplayFor(modelItem => Category.Name)
                    </td>
                    <td>@Html.DisplayFor(modelItem => Category.Description)</td>
                    <td>
                        @Html.ActionLink("添加子栏目", "CreateCategory", "Admin", new { id = Category.CategoryID }, new { @class = "btn btn-primary btn-sm" })
                        @Html.ActionLink("修改", "ModifyCategory", "Admin", new { id = Category.CategoryID }, new { @class = "btn btn-primary btn-sm" })
                        @Html.ActionLink("删除", "DeleteCategory", "Admin", new { id = Category.CategoryID }, new { @class = "btn btn-primary btn-sm" })
                    </td>
                    <td>@Html.TextBox("CategoryID_"+ Category.CategoryID,Category.Order)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

