@{ Layout = "_AdminPannelLayout.cshtml";}

@{
    ViewBag.Title = "用户操作台";
}


@section SideNav{@Html.Partial("SideNavPartialView")}
<div class="col-sm-12">
    <table data-toggle="table" id="category-table">
        <thead>
            <tr>
                <th>栏目ID</th>
                <th>栏目名称</th>
                <th>栏目说明</th>
                <th>操作</th>
                <th>@Html.ActionLink("排序", "CreateExam", "Admin", new { area = "" }, new { @class = "btn btn-success btn-sm" })</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>根栏目1</td>
                <td>根栏目1的说明</td>
                <td>
                    @Html.ActionLink("添加子栏目", "CreateExam", "Admin", new { area = "" }, new { @class = "btn btn-primary btn-sm" })
                    @Html.ActionLink("修改", "CreateExam", "Admin", new { area = "" }, new { @class = "btn btn-info btn-sm" })
                    @Html.ActionLink("删除", "CreateExam", "Admin", new { area = "" }, new { @class = "btn btn-danger btn-sm" })
                </td>
                <td>
                    <input type="text" value="50" />
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>| - 根栏目1的子栏目</td>
                <td>根栏目1的子栏目1说明</td>
                <td>
                    @Html.ActionLink("添加子栏目", "CreateExam", "Admin", new { area = "" }, new { @class = "btn btn-primary btn-sm" })
                    @Html.ActionLink("修改", "CreateExam", "Admin", new { area = "" }, new { @class = "btn btn-info btn-sm" })
                    @Html.ActionLink("删除", "CreateExam", "Admin", new { area = "" }, new { @class = "btn btn-danger btn-sm" })
                </td>
                <td>
                    <input type="text" value="50" />
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>| - | - 根栏目1的子栏目1的子栏目1</td>
                <td>根栏目1的子栏目1说明</td>
                <td>
                    @Html.ActionLink("添加子栏目", "CreateExam", "Admin", new { area = "" }, new { @class = "btn btn-primary btn-sm" })
                    @Html.ActionLink("修改", "CreateExam", "Admin", new { area = "" }, new { @class = "btn btn-info btn-sm" })
                    @Html.ActionLink("删除", "CreateExam", "Admin", new { area = "" }, new { @class = "btn btn-danger btn-sm" })
                </td>
                <td>
                    <input type="text" value="50" />
                </td>
            </tr>
        </tbody>
    </table>
</div>

