<div class="sidebar">
    <ul class="nav nav-sidebar">
        <li class="active">@Html.ActionLink("管理面板首页", "Index", "Admin")</li>
        <li>@Html.ActionLink("考试管理", "Exam", "Admin")</li>
        <li>@Html.ActionLink("栏目管理", "Category", "Admin")</li>
        <li>@Html.ActionLink("试题管理", "Question", "Admin")</li>
        <li>@Html.ActionLink("用户管理", "UserManage", "Admin")</li>
        <li>@Html.ActionLink("我的信息", "MyInfo", "Admin")</li>
    </ul>
</div>
