<div class="sidebar">
    <ul class="nav nav-sidebar">
        <li class="active">@Html.ActionLink("操作台首页", "Index", "User")</li>
        <li>@Html.ActionLink("我正在进行的考试", "Index", "User")</li>
        <li>@Html.ActionLink("当前在线的考试", "Index", "User")</li>
        <li>@Html.ActionLink("我的考试记录", "Index", "User")</li>
        <li>@Html.ActionLink("我的信息", "MyInfo", "User")</li>
    </ul>
</div>